<footer class="footer">
    <div class="wrapper">
        <div class="footer-container">
            <a href="mailto:mail@alexeybychkov.com" class="footer-email h2-style">mail@alexeybychkov.com</a>
            <ul class="footer-social">
                <li><a href="#">Ютубчик</a></li>
                <li><a href="#">Скайп</a></li>
                <li><a href="#">Телеграм</a></li>
                <li><a href="#">Твитор</a></li>
                <li><a href="#">Веблансер</a></li>
            </ul>
        </div>
        <div class="footer-misc content-15 flexbox">
            <div class="footer-copyright">
                <p>© Alexeybychkov.com, 2014 — 2019</p>
                <p>Верстка — <a href="#">Артем Лученков</a></p>
            </div>
            <div class="footer-policy">
                <p><a href="#">Политика конфиденциальности</a></p>
                <p><a href="#">Пользовательское соглашение</a></p>
            </div>
            <div class="footer-payments">
                <svg>
                    <use xlink:href="#payments"/>
                </svg>
            </div>
        </div>
    </div>
</footer>