<header class="header">
    <div class="wrapper flexbox">
        <span class="logo">
        <span class="logo-text">Алексей Бычков</span>
        <a href="#" class="logo-back">
            <svg>
                <use xlink:href="#arrow"/>
            </svg>
            На главную
        </a>
    </span>
        <ul class="main-nav content-20">
            <li><a href="#">Блог</a></li>
            <li><a href="#">Кейсы</a></li>
            <li><a href="#">Цены</a></li>
            <li><a href="#">Обо мне</a></li>
            <li><a href="#">Плагиат</a></li>
            <li><a href="#">Мои книги</a></li>
        </ul>
    </div>
</header>