.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer-container {
    text-align: center;
    @include above-cursor();
    margin: 0 0 100px;
}
.footer-email {
    display: inline-block;
    margin: 0 0 30px;
}
.footer-social {
    display: flex;
    justify-content: center;

    li {
        margin: 0 15px;
    }
}
.footer-misc {
    align-items: center;
    color: $date_comments;
    line-height: 30px;
    padding: 0 0 50px;

    svg {
        height: 27px;
    }

    a {
        color: $date_comments;

        &:hover {
            color: $blue;
        }
    }
}