{% include '../common/head.twig' %}

<main class="main">

    {% include '../common/header.twig' %}

    <article class="wrapper">
        {% include '../components/hero.twig' with {
            'image': 'images/img01.png',
            'text1': 'Привет!'
        } %}

        <div class="main-content">

            {% include '../components/stats.twig' %}

            <div class="flexbox">
                <div class="content">
                    <p>Меня зовут Алексей и я веб-дизайнер из Минска. Мне чуть больше 30 лет, женат на прекрасном человеке и у нас чудесная дочка.</p>
                    <p>Работаю на лучшей бирже в рунете — <a href="#">Weblancer.net</a>. И делаю это хорошо, чего скрывать =) Ведь я люблю свою работу (уже 15 лет) и всех своих заказчиков.</p>
                    <div class="warning">
                        <p>Люблю триллеры, ютубчик и постоянно смотрю чемпионат Испании по футболу. Сладкое, конечно же, люблю (но я держу себя в форме), а к зефиркам и вовсе неравнодушен с первого взгляда и, похоже, навсегда. Хорошую музыку слушаю, да и радио неплохо заходит. В дизайне же загоняюсь на детали, хотя и у меня бывает кривенько с прицелом. Днем поспать — милое дело.</p>
                    </div>
                    <p>Боюсь высоты и все проспать. Знакомые предлагают написать еще книгу, о том, как я все успеваю, мне же кажется иначе — многое сделал бы еще сегодня, а уже стемнело. Плохо отношусь к андроиду, хотя всю жизнь провел за виндой. Почти всегда штормит от неграмотных, но и сам периодически допускаю ляпы, за которые стыдно. Как-то совсем неочень отношусь к ребятам, которым лень поздороваться, но еще больше не нравится приветствие «Доброго времени суток». В дизайне меня совсем не радует популярный до сих пор у многих других дизайнеров скевоморфизм, и вместо него я вам сделаю клевый современный дизайн.</p>
                </div>
                <div class="aside">
                    <h4>Бложу</h4>
                    <ul>
                        <li><a href="#">Ютубчик</a></li>
                        <li><a href="#">Бложик</a></li>
                        <li><a href="#">Мои книги</a></li>
                    </ul>
                    <h4>Дизайню</h4>
                    <ul>
                        <li><a href="#">Сайты</a></li>
                        <li><a href="#">Лендинги</a></li>
                        <li><a href="#">Интернет-магазины</a></li>
                        <li><a href="#">404-ошибки</a></li>
                    </ul>
                    <h4>Работаю</h4>
                    <ul>
                        <li><a href="#">Отзывы</a></li>
                        <li><a href="#">Цены</a></li>
                        <li><a href="#">Примеры ТЗ</a></li>
                        <li><a href="#">Сайт «под ключ»</a></li>
                    </ul>
                </div>
            </div>

            {% include '../components/youtube.twig' %}

        </div>
    </article>
</main>

{% include '../common/footer.twig' %}

{% include '../common/end.twig' %}