<div class="hero">
    <img src="{{ image }}" alt="" class="image-object-fit">
    <h1>
        <span>{{ text1 }}</span>
        {% if text2 %}
            <br><span>{{ text2 }}</span>
        {% endif %}
    </h1>
</div>