<div class="stats">
    <div class="stat-item">
        <h2>№1</h2>
        <h5>в категории «дизайн сайтов»</h5>
        <p>По версии weblancer.net 2016, 2017, 2018, 2019</p>
    </div>
    <div class="stat-item">
        <h2>2</h2>
        <h5>автор двух книг о дизайне</h5>
        <p>Дизайн и фриланс. «Начало» и «Новый уровень»</p>
    </div>
    <div class="stat-item">
        <h2>15</h2>
        <h5>лет опыта в дизайне</h5>
        <p>Умею в дизайн, что тут скажешь :)</p>
    </div>
    <div class="stat-item">
        <h2>888</h2>
        <h5>почти тысяча отзывов</h5>
        <p>довольных заказчиков на бирже Веблансер</p>
    </div>
</div>