<div class="youtube-promo">
    <div class="flexbox">
        <div class="youtube-promo-text">
            <h3>Кстати, подписывайтесь на ютубчик :)</h3>
            <span class="content-17">Поговорим о дизайне на фрилансе в видео-формате</span>
        </div>
        <a href="#">
            <svg>
                <use xlink:href="#youtube"/>
            </svg>
        </a>
    </div>
</div>